<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Pim -->
      <package
            uri="http://localhost/mdd/PIM.ecore"
            class="PIM.PIMPackage"
            genModel="Pim.genmodel"/>
   </extension>

</plugin>
